*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
body{
    background: linear-gradient(to top left, #28b487,#7dd56f);
    min-height: 100vh;
    justify-content:center;
    align-items: flex-start;
    position: relative;
    display: flex;
    line-height: 25px;
    font-family: 'Courier New', Courier, monospace;
    
}
.show-modal{

    border-radius: 30px;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    margin: 60px 20px;
    border: none;
    cursor: pointer;
    color: rgb(14, 13, 13);
    background-color: white;
}

.close-modal{
    position: absolute;
    top: 40px;
    right: 60px;
    color: black;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 50px;
}
.hidden{
    display: none;
}
.modal{
    position: absolute;
    background-color: white;
    color: black;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 30px  30px rgb(49, 49, 49);
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    z-index: 10;
     width: 50%;

}
.overlay{
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(10, 9, 9, 0.3);
    backdrop-filter: blur(5px);
    z-index: 5;

}